#app {
    display: grid;
    grid-template-areas: 
        "aside nav nav"
        "aside main main"
        "aside controls controls";
        grid-template-columns: 350px 1fr;
        grid-template-rows: 56px 1fr auto;
        height: 100vh;
}

.bg-chat {
    background-image: url('/assets/chat-bg-light.png');
    background-position: top right;
    background-size: 510px auto;
    background-repeat: repeat;
    border-left: 1px solid rgb(48,48,48);
}

footer {
    left: 50%;
    transform: translateX(-50%);
}